body {
    background-color: #1e1e1e;
    color: #f5f5f5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-container {
    max-width: 1500px;
    margin: 0 auto;
}

header, nav, footer {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #333;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.AboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 80%;
    margin: 0 auto;
}

#photo {
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 100px;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 600px;
}

.AboutMe h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.Backround {
    background: #333;
    padding: 20px;
    color: #f5f5f5;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 30px;
}

.TaidotLista {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
    font-family: monospace;
    font-size: 20px;
}

.TaidotLista li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.skill-icon {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

.TaidotListaContainer {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

footer {
    background: #333;
    padding: 20px;
    text-align: center;
    color: white;
    max-width: 1500px;
    border-top: 2px solid #555;
}